# Garbage files
.zsh_sessions
.dartServer
.macports
.viminfo
.vscode
.gradle
.cache
.local
.deno
.node
go

# macOS Files
.CFUserTextEncoding
.DS_Store
.Trash
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public

# Sensitive files
.*_history
.android
.gnupg
*.kdbx
.ssh
.npm

# Docker
.docker/*
!.docker/config.json
!.docker/features.json

